	body
	{
		font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
		padding: 0px;
		margin: 0px;
	}
	.dirent
	{
		display: block;
		background: #fff;
		border: solid 1px #BCBCBC;
		padding: 5px 6px;
		margin: 5px 2px;
		min-width: 32px;
		text-align: left;
	}
	.dirent:hover, .dirent_hover
	{
		border: solid 1px #3333ff;
	}
	.dirent:active
	{
		background: #dfdfdf;
	}
	
	.btn
	{
		display: inline-block;
		background: #fff;
		border: solid 1px #BCBCBC;
		padding: 5px 6px;
		margin: 5px 2px;
		min-width: 32px;
		text-align: center;
		cursor: default;
	}
	.btn:not([disabled]):hover
	{
		border: solid 1px #777777;
	}
	.btn_selected {
		border: solid 1px #3333ff !important;
	}
	.btn:active
	{
		background: #dfdfdf;
	}
	.btn[disabled]
	{
		color: #999;
	}
	.prevnext {
		display: block;
		width: 100%;
		box-sizing: border-box;
		margin: 10px 2px 20px 2px;
		padding: 10px 6px;
	}
	.imgbtn {
		display: inline-block;
		background: #fff;
		border: solid 1px #BCBCBC;
		text-align: center;
	}
	.imgbtn:hover, .imgbtn_hover
	{
		border: solid 1px #3333ff;
	}
	.imgbtn:active
	{
		background: #dfdfdf;
	}
	.fbpic
	{
		max-width: 250px;
		border: none;
	}
